body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#title, #description {
    grid-column: 1 / -1;
    justify-self: center;
}


#container {
    border: 2px solid #ebebeb;
    border-radius: 15px;
    grid-column: 2 / 4;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

label, textarea {
    display: block;
    padding: 0 0 15px 0;
}

form {
    margin: 10% 100px 10% 100px;
}

