body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



#container {
    border: 2px solid #ebebeb;
    border-radius: 15px;
    grid-column: 2 / 4;
    height: 80vh;
    margin: 10vh 0 0 0;
}

label, textarea {
    display: block;
}

form {
    margin: 0 100px 0 100px;
}